@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700;900&family=Roboto&display=swap');

body{
  margin-left: 10em;
  margin-right: 10em;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.htext{
display: flex;
align-items: center;
flex-direction: column;
padding-right: 20em;
margin-left: auto;
margin-right: auto;
font-family: 'Noto Sans TC', sans-serif;

}
.htext h1{
  margin: 0;
  padding: 0;
}

.htext h2{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

logo{
  align-self: flex-start;

}

.results{
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-right: 10em;
  padding-top: 2em;
  border-top: 1px solid black;
  align-items: flex-start;
}
.results h3{
  font-family: 'Noto Sans TC', sans-serif;

}

.results h2{
  font-family: 'Roboto', sans-serif;
  align-self: center;

}
.results p{
  font-family: 'Roboto', sans-serif;
}
.results ul{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.results a{
  color: #cb5621;
  margin-top: 5em;
  text-decoration: none;
  align-self: center;
  font-family: 'Roboto', sans-serif;
}
